$bgColor: #0f1652;
$text: #000;
$boxColor: #000;
$secondColor: #afafaf;

.genre-dialog {
  max-width: 500px;
  margin: auto;
  padding: 25px;
  background-color: $secondColor;
  border-style: solid;
  border-color: $boxColor;
  border-width: 5px;
}

.genre-name {
  display: flex;
  justify-content: center;
  color: $text;
}

.genre-description {
  color: $text;
}

.genre-close {
  background-color: $boxColor;
}

.genre-actions {
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
}