<app-navbar></app-navbar>
<div class="movie-page" style="display: flex;">
  <mat-card class="movie-card" *ngFor="let movie of movies;" style="flex: 1 1 auto;">
    <mat-dialog-content>
      <mat-card-title class="'movie-card-title"><b>{{movie.Title}}</b></mat-card-title>
      <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
      <mat-card-subtitle><img src={{movie.ImagePath}} /></mat-card-subtitle>
    </mat-dialog-content>

    <mat-card-actions>
      <button mat-stroked-button class="movie-button" (click)="openGenre(movie.Genre.Name, movie.Genre.Description)">
        Genre
      </button>

      <button mat-stroked-button class="movie-button"
        (click)="openDirector(movie.Director.Name, movie.Genre.Description)">
        Director
      </button>

      <button mat-stroked-button class="movie-button" (click)="openDescription(movie.Name, movie.Description)">
        Synopsis
      </button>

      <button mat-button class="fav-button" color="warn" *ngIf="!isFav(movie._id)" (click)="addFavorite(movie._id)">
        <mat-icon>favorite_border</mat-icon>
      </button>

      <button mat-button class="fav-button" color="warn" *ngIf="isFav(movie._id)" (click)="deleteFavorite(movie._id)">
        <mat-icon>favorite</mat-icon>
      </button>

    </mat-card-actions>
  </mat-card>
</div>