$bgColor: #0f1652;
$text: rgb(0, 0, 0);
$boxColor: #000;
$buttonColor: #afafaf;

.login-card {
  max-width: 400px;
  margin: auto;
  padding: 25px;
  background-color: $buttonColor;
}

.login-header {
  display: flex;
  justify-content: center;
  color: $text;
}

.login-field {
  color: $text;
}

.login-button {
  background-color: $boxColor;
}

.login-actions {
  display: flex;
  justify-content: space-evenly;
}